.postPageSection {
  width: 100%;
  min-height: 100vh;
  padding-top: 10px;
  display: flex;
  flex-direction: column;

  & .postImgFigure {
    min-width: 100%;
    /* max-height: 500px; */
    height: fit-content;
    margin-bottom: 1rem;
    border-radius: 5px;

    & img {
      width: 100%;
      height: 100%;
      max-height: 400px;
      object-fit: cover;
      border-radius: 5px;
    }
  }
}

.content-section {
  flex-grow: 1;
}

.post-page-title {
  font-size: 2rem;
  margin-left: 10px;
  margin-bottom: 20px;
  font-family: "Poppins", system-ui, sans-serif;
}

#post-page-title {
  margin-left: 10px !important;
}

.categoryContainer {
  padding: 10px;
  margin-bottom: 15px;
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
  gap: 10px;

  & .bullet {
    font-size: 1rem;
  }
}

.userContainer {
  padding: 10px;
}

.profileImgFigure {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid blue;

  & img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.nameNUsernameContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 5px;

  & .name {
    font-weight: 600;
    letter-spacing: 1px;
  }

  & .username {
    font-size: 13px;
    color: gray;
    letter-spacing: 1px;
  }
}

hr {
  margin-block: 1rem;
  margin-inline: 8px;
}

.postContent {
  font-size: 1.1rem;
  padding: 10px;
  padding-bottom: 3rem;
  font-family: "Poppins", system-ui, sans-serif !important;
  word-spacing: 3px;
  line-height: 28px;
  max-width: 100% !important;
  font-family: system-ui;

  & h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
  }

  & p {
    margin-bottom: 1.7rem;
  }

  & blockquote {
   padding: 5px 5px 1px 10px;
    border-left: 3px solid rgb(55, 136, 255);
    border-radius: 0 8px 8px 0;
    
    background-color: var(--quote-bg);
    margin-bottom: 1.7rem;
  }

 

  & ul {
    display: block;
    list-style-type: disc !important;
    margin-bottom: 1.5rem;
    padding-left: 2rem !important;

    & li {
     
     display: list-item !important;
      list-style-type: disc !important;
      cursor:auto;
      font-weight: 500;
    }
  }

  & a {
    color: blue;
    text-decoration: underline;
    font-weight: 500;
  }
}

/* .postContent ul li,
.postContent ol li {
  display: list-item !important;
  list-style-type: disc !important;
  list-style-position: outside !important;
} */
/* 
.postContent ul li::marker,
.postContent ol li::marker {
  content: unset;
  color: inherit;
} */

pre {
  max-width: 100%;
  overflow-x: auto;
  margin-block: 1rem;
  background-color: rgba(99, 106, 183, 0.146);
  padding: 5px;
  padding-block: 10px;
  border-radius: 5px;
}

.commentsContainer {
  padding-left: 20px;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.commentsAndLikesContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 1rem;

  & h2 {
    font-size: 1.2rem;
    font-weight: 700;
  }
}

.iconsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.post-page-likes,
.post-page-comments {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 5px;
}

.post-page-comments {
  fill: #3788fa;
  & path {
    fill: var(--text);
  }
}
.post-page-comments:hover {
  fill: #3788fa;
  & path {
    fill: #3788fa;
  }
}

.commentContainer {
  display: grid;
  grid-template-columns: 30px 1fr;
  gap: 10px;
  padding: 10px;
  padding-bottom: 30px;
  position: relative;

  & .commentHeart {
    position: absolute;
    bottom: 0;
    right: 15px;
    font-size: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

.CommentProfileImgFigure {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid blue;

  & img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.nameAndCommentContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;

  & .nameAndDateContainer,
  .commentAndMoreContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    gap: 5px;
    position: relative;

    & .name {
      font-weight: 500;
    }

    & .date {
      margin-top: 5px;
      font-size: 10px;
    }
  }
}

/* .commentFormContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 97%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
} */

.commentContent {
  width: 100%;
  font-size: 0.9rem;
  font-family: "Poppins", system-ui, sans-serif !important;
}

.commentForm {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 5px;
  border: 1px solid rgb(63, 63, 199);
  border-radius: 20px;
  background-color: var(--bg);

  & input {
    width: 90%;
    border-radius: 8px;
    padding: 10px;
    font-size: 1.1rem;
    /* border: 2px solid rgb(63, 63, 199); */
    border: none;
    outline: none;
    height: 40px;
    background-color: transparent;
    color: var(--text);
  }

  & button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    background-image: linear-gradient(#85a8ff, #5676ff);
    /* height: fit-content; */
    width: 5%;
    height: 40px;
    padding: 10px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
  }

  & button:active {
    scale: 0.9;
  }

  & button:disabled {
    scale: 1;
  }
}



@media (max-width: 768px) {
  .post-page-title {
    font-size: 2rem !important;
  }

  .postPageSection {
    padding-inline: 10px;
  }

  .postContent {
    line-height: 27px;
  }

  .commentForm {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 5px;
    border: 1px solid rgb(63, 63, 199);
    border-radius: 10px;
    background-color: var(--bg);

    & textarea {
      width: 90%;
      border-radius: 8px;
      padding: 10px;
      font-size: 1.1rem;
      /* border: 2px solid rgb(63, 63, 199); */
      border: none;
      outline: none;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & button {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      border: none;
      background-image: linear-gradient(#85a8ff, #5676ff);
      /* height: fit-content; */
      width: 15%;
      height: 40px;
      padding: 10px;
      color: white;
      font-size: 1rem;
      cursor: pointer;
    }

    & button:active {
      scale: 0.9;
    }

    & button:disabled {
      scale: 1;
    }
  }
}

@media (max-width: 600px) {
  .post-page-title {
    font-size: 1.5rem !important;
  }
}

@media (min-width: 500px) {
  .postPageSection {
    width: 80%;
    margin-inline: auto;
  }

  .postImgFigure {
    width: 100%;
    height: fit-content;
    position: relative;

    & img {
      width: 100%;
      max-height: 400px;
      object-fit: cover;
    }

    & .backArrow {
      position: absolute;
      top: 10px;
      left: 10px;
    }
  }
}

@media (max-width: 500px) {
  .postImgFigure {
    height: fit-content;
    & img {
      max-height: 500px;
    }
  }
}
